<div>
    <div class="form-group">
        <label for="userName">Nome</label>
        <input ng-model="user.name" class="form-control" id="userName" />
        <label for="userMail">Email</label>
        <input ng-model="user.email" class="form-control" id="userMail" />
        <label for="userPass">Senha</label>
        <input ng-model="user.password" class="form-control" id="userPass" />
        <label for="userAge">Idade</label>
        <input ng-model="user.age" class="form-control" id="userAge" />
    </div>
    <button type="submit" class="btn btn-success" ng-click="save()">Gravar</button>
    <button type="submit" class="btn btn-info" ng-click="searchAll()">Pesquisar</button>
    <br/>
    <br/>
</div>

<div class="row" style="padding-bottom: 20px;">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">
    Usuários
</div>
<!-- /.panel-heading -->
<div class="panel-body">
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover" id="dataTables-example">
<thead>
<tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Senha</th>
    <th>Idade</th>
    <th>Edit</th>
    <th>Remove</th>
</tr>
</thead>
<tbody>
<tr class="odd gradeX" ng-repeat="u in users">
    <td>{{u.name}}</td>
    <td>{{u.email}}</td>
    <td>{{u.password}}</td>
    <td>{{u.age}}</td>
    <td>
        <a href="#" data-toggle="modal" data-target="#myModal" ng-click="prepareEdit(u)"><i class="fa fa-pencil fa-fw"></i></a>
    </td>
    <td>
        <a href="#" ng-click="remove(u.id)"><i class="fa fa-trash fa-fw"></i></a>
    </td>
</tr>
</tbody>
</table>
</div>
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Editar usuário</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userNameEdit">Nome</label>
                    <input ng-model="user.name" class="form-control" id="userNameEdit" />
                    <label for="userMailEdit">Email</label>
                    <input ng-model="user.email" class="form-control" id="userMailEdit" />
                    <label for="userPassEdit">Senha</label>
                    <input ng-model="user.password" class="form-control" id="userPassEdit" />
                    <label for="userAgeEdit">Idade</label>
                    <input ng-model="user.age" class="form-control" id="userAgeEdit" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="change(user)" data-dismiss="modal">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->