<div>
  <div class="form-group">
    <label for="genderName">Nome</label>
    <input ng-model="gender.name" class="form-control" id="genderName" />
    <label for="genderDescription">Descrição</label>
    <input ng-model="gender.description" class="form-control" id="genderDescription" />
  </div>
  <button type="submit" class="btn btn-success" ng-click="save()">Gravar</button>
  <button type="submit" class="btn btn-info" ng-click="searchAll()">Pesquisar</button>
  <br/>
  <br/>
</div>

<div class="row" style="padding-bottom: 20px;">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      Gênero
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Edit</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX" ng-repeat="g in genders">
                <td>{{g.name}}</td>
                <td>{{g.description}}</td>
                <td>
                  <a href="#" data-toggle="modal" data-target="#myModal" ng-click="prepareEdit(g)"><i class="fa fa-pencil fa-fw"></i></a>
                </td>
                <td>
                  <a href="#" ng-click="remove(g.id)"><i class="fa fa-trash fa-fw"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Editar gênero</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="genderNameEdit">Nome</label>
          <input ng-model="gender.name" class="form-control" id="genderNameEdit" />
          <label for="genderDescriptionEdit">Descrição</label>
          <input ng-model="gender.description" class="form-control" id="genderDescriptionEdit" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="change(gender); " data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->